@import "tailwindcss";

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background-rgb: 0, 0, 0; */
/*     --foreground-rgb: 255, 255, 255; */
/*   } */
/* } */

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

.warning-stripes {
  background-image: linear-gradient(115deg, #cc8800 25%, #333333 25%, #333333 50%, #cc8800 50%, #cc8800 75%, #333333 75%, #333333 100%);
  background-size: 44.14px 94.65px;
}
